# **Assignment: Dictionaries Practice**

##**Easy Questions:**

In [2]:
def invert_dictionary(dict):
  new_dict = {}
  for key, value in dict.items():
    new_dict[value] = key
  return new_dict
print(invert_dictionary({"a": 1, "b": 2, "c": 3}))
print(invert_dictionary({"zebra": "koala", "horse": "camel"}))
print(invert_dictionary({1: "one", 2: "two", 3: "three"}))

{1: 'a', 2: 'b', 3: 'c'}
{'koala': 'zebra', 'camel': 'horse'}
{'one': 1, 'two': 2, 'three': 3}

In [5]:
def merge_dictionaries(dict1, dict2):
  new_dict = {}
  for key, value in dict1.items():
    new_dict[key] = value
  for key, value in dict2.items():
    new_dict[key] = value
    return new_dict
print(merge_dictionaries({"a": 1, "b": 2, "c": 3}, {"d": 2, "c": 4, "b": 1}))

{'a': 1, 'b': 2, 'c': 3, 'd': 2}

##**Medium Questions:**

In [3]:
def word_frequencies(text):
    words = text.split()  # Split string into list of words
    freq = {}

    for word in words:
        if word in freq:
            freq[word] += 1
        else:
            freq[word] = 1

    return freq
print(word_frequencies("She sells sea shells at the sea shore"))
print(word_frequencies("Betty batter bought butter but the butter was bitter so betty batter bought better butter to make bitter butter better."))

{'She': 1, 'sells': 1, 'sea': 2, 'shells': 1, 'at': 1, 'the': 1, 'shore': 1}
{'Betty': 1, 'batter': 2, 'bought': 2, 'butter': 4, 'but': 1, 'the': 1, 'was': 1, 'bitter': 2, 'so': 1, 'betty': 1, 'better': 1, 'to': 1, 'make': 1, 'better.': 1}

In [4]:
def add_contact(contacts, name, **info):
    if name not in contacts:
        contacts[name] = {}
    contacts[name].update(info)
contacts = {}
add_contact(contacts, "Alice", phone="123-456-7890", email="alice@example.com")
add_contact(contacts, "Bob", phone="987-654-3210")
add_contact(contacts, "Alice", address="123 Main St")
add_contact(contacts,"Sai Kiran",phone="120-000-120",email="saikiranpolaki@minfytech.com")
print(contacts)

{'Alice': {'phone': '123-456-7890', 'email': 'alice@example.com', 'address': '123 Main St'}, 'Bob': {'phone': '987-654-3210'}, 'Sai Kiran': {'phone': '120-000-120', 'email': 'saikiranpolaki@minfytech.com'}}

##**Hard Questions:**

In [5]:
def transform_grades(grades):
    result = {}
    for student, scores in grades.items():
        avg = round(sum(scores) / len(scores), 2)
        high = max(scores)
        low = min(scores)
        result[student] = {
            "average": avg,
            "highest": high,
            "lowest": low
        }
    return result
grades = {
    "Alice": [85, 90, 95],
    "Bob": [70, 80, 90],
    "Charlie": [90, 92, 93],
    "Sanskar":[12,12,12]
}
print(transform_grades(grades))

{'Alice': {'average': 90.0, 'highest': 95, 'lowest': 85}, 'Bob': {'average': 80.0, 'highest': 90, 'lowest': 70}, 'Charlie': {'average': 91.67, 'highest': 93, 'lowest': 90}, 'Sanskar': {'average': 12.0, 'highest': 12, 'lowest': 12}}

In [7]:
def generate_tree(paths):
    tree = {}
    for path in paths:
        parts = path.split("/")
        current = tree
        for part in parts:
            if part not in current:
                current[part] = {}
            current = current[part]
    return tree
paths = [
    "folder1/file1.txt",
    "folder1/folder2/file2.txt",
    "folder3/file3.txt"
]
print(generate_tree(paths))

{'folder1': {'file1.txt': {}, 'folder2': {'file2.txt': {}}}, 'folder3': {'file3.txt': {}}}