# **Assignment: Python Tuples Practice**

##**Easy Questions:**

In [11]:
def swap_pairs(tup):
    lst = list(tup)
    for i in range(0, len(lst) - 1, 2):
        lst[i], lst[i + 1] = lst[i + 1], lst[i]
    return tuple(lst)
print(swap_pairs((1, 2, 3, 4, 5)))
print(swap_pairs((1, 2, 3, 4)))
print(swap_pairs((1, 2, 3)))

(2, 1, 4, 3, 5)
(2, 1, 4, 3)
(2, 1, 3)

In [12]:
def get_stats(list):
    min_value = min(list)
    max_value = max(list)
    add= sum(list)
    average = add/len(list)
    result = (min_value, max_value,add,average)
    return result
print(get_stats([1, 2, 3, 4, 5]))
print(get_stats([2.5, 1.2, 3.7, 0.5]))

(1, 5, 15, 3.0)
(0.5, 3.7, 7.9, 1.975)

##**Medium Questions:**

In [13]:
from collections import namedtuple
Student=namedtuple("Student",["name","age","scores"])
Alice=Student("Alice",20,[85,90,95])
Bob=Student("Bob",19,[75,80,85])
Charlie=Student("Charlie",18,[90,95,100])
Sai_Anna=Student("Sai Kiran",24,[100,100,100]) ##Just for fun
def top_Student(tuple):
  return(max(tuple,key=lambda x:sum(x.scores)/len(x.scores)))
print(top_Student([Alice,Bob,Charlie,Sai_Anna]))

Student(name='Sai Kiran', age=24, scores=[100, 100, 100])

In [19]:
def count_coordinate_occurrences(coords):
    coord_count = {}
    for coord in coords:
        if coord in coord_count:
            coord_count[coord] += 1
        else:
            coord_count[coord] = 1
    return coord_count
print(count_coordinate_occurrences([(1, 2), (3, 4), (1, 2), (5, 6), (3, 4), (1, 2)]))
print(count_coordinate_occurrences([(0, 0), (0, 1), (1, 0), (1, 1)]))

{(1, 2): 3, (3, 4): 2, (5, 6): 1}
{(0, 0): 1, (0, 1): 1, (1, 0): 1, (1, 1): 1}

##**Hard Question:**

In [22]:
def group_by_department(employees):
    department_groups = {}
    for name, dept, salary in employees:
        if dept not in department_groups:
            department_groups[dept] = {
                "total_salary": 0,
                "count": 0,
                "names": []
            }
        department_groups[dept]["total_salary"] += salary
        department_groups[dept]["count"] += 1
        department_groups[dept]["names"].append(name)
    result = {}
    for dept, data in department_groups.items():
        avg_salary = data["total_salary"] // data["count"]
        result[dept] = (avg_salary, data["names"])
    return result
employees = [
    ("Alice", "Engineering", 80000),
    ("Bob", "Marketing", 70000),
    ("Charlie", "Engineering", 90000),
    ("Diana", "HR", 65000),
    ("Eve", "Marketing", 75000),
    ("Sai Kiran", "Engineering", 120000),
    ("Priya","HR",100000),
    ("Karan","Marketing",360000)
]
print(group_by_department(employees))

{'Engineering': (96666, ['Alice', 'Charlie', 'Sai Kiran']), 'Marketing': (168333, ['Bob', 'Eve', 'Karan']), 'HR': (82500, ['Diana', 'Priya'])}

In [26]:
def flatten_tuple(nested):
    flat = []
    for item in nested:
        if isinstance(item, tuple):
            flat.extend(flatten_tuple(item))
        else:
            flat.append(item)
    return tuple(flat)
print(flatten_tuple((1, (2, 3), (4, (5, 6)), 7)))
print(flatten_tuple(((22,36),(64,61,90,78),92,(81))))

(1, 2, 3, 4, 5, 6, 7)
(22, 36, 64, 61, 90, 78, 92, 81)